<!DOCTYPE html>
<html>
    <head>
        <title>Network Analysis Web Interface</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This is a basic "Hello World!" page for a baseline.</p>
        <p>Can we echo from terminal to here?: {{ check }}</p>

        <h2>OS-compatible tools test</h2>
        {% if platformName == "Windows" %}
        <p>Platform is <strong>Windows</strong>.
        Display Windows-specific tools.</p>
        {% endif %}

        <h2>Test Command timeouts:</h2>
        <p>Can we run ping commands from here? :</p>
        <!--Definitely make these dynamic to prevent page hanging-->
        <p>{{ ping }}</p>
    </body>
</html>