<!DOCTYPE html>
<html>
    <head>
        <title>Network Analysis Web Interface: HOME</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Network Analysis Web Interface: Capstone 2023">
    </head>
<body>
<nav>
    <a href="#">Help</a> ||
    <a href="#">About</a>
</nav>
<div class="sidebar">
    <p>Here is where the sidebar will go.</p>
    <ul>
        <li class="item">Item 1</li>
        <li class="item">Item 2</li>
        <li class="item">Item 3</li>
    </ul>
</div>
<div class="mainContainer">
    <h1>Main body text</h1>
    <p>Probably going to use Flexbox to get these aligned correctly.</p>
    <p>Platform is detected as <strong>{{ platform }}</strong>.</p>
</div>
</body>
</html>